<form class="from-inline">
  <h3>Consulta pedido</h3>
  <div class="form-group mb-2"></div>
</form>
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <table class="table table-striped">
    <thead class="thead-ligth">
      <h4>Pedidos</h4>
      <tr>
        <th>#</th>
        <th>Valor total</th>
        <th>Quant. de itens</th>
        <th>Valor do frete</th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
    <footer>
      <tr>
        <td colspan="7" class="text-center"></td>
      </tr>
    </footer>
  </table>
</div>
