<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h4>
    <img
      src="../../assets/icone-cliente.png"
      alt="Cliente"
      [style.width.PX]="20"
      [style.height.PX]="20"
    />
    Cliente
  </h4>
  <div class="form-inline">
    <div class="pesquisa">
      <ng-select
        class="form-control form-control-sm"
        [items]="clientes"
        bindLabel="nome"
        role="combobox"
        [clearable]="true"
        placeholder="Selecione um cliente"
        [(ngModel)]="pedido.cliente"
      >
      </ng-select>
    </div>
  </div>
</div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="form-inline">
    <h4>
      <img
        src="../../assets/icone-carrinho.png"
        alt="Carrinho"
        [style.width.PX]="20"
        [style.height.PX]="20"
      />
      Carrinho
    </h4>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <ng-select
        class="form-control form-control-sm"
        [items]="produtos"
        (change)="adicionarProduto()"
        bindLabel="nome"
        [clearable]="false"
        placeholder="Selecione um produto"
        [(ngModel)]="produtoAtual"
      >
      </ng-select>
    </div>
  </div>
  <br />
  <div *ngFor="let produto of pedido.produtos">
    <div class="row">
      <div class="col-md-6 text-left row">
        <div class="col-4">
          <img
            src="{{ produto.imagemUrl }}"
            width="80px"
            height="80px"
            style="margin: 0 auto"
          />
        </div>
        <div class="col-8 row">
          <p class="col-12 text-left"><b></b> {{ produto.codigo }}</p>
          <p class="col-12 text-left">
            {{ produto.nome }}
          </p>
        </div>
      </div>
      <div class="col-md-6 text-right row">
        <div class="col-md-11 row">
          <input
            type="number"
            min="0"
            (change)="onProdutoQuantidadeChanged($event, produto)"
            value="{{ produto.qntItem }}"
            class="form-control col-sm-1"
          />
          <div class="col-md-2 text-center">
            X R$ {{ produto.precoUnitario | number: "1.2-2" }}
          </div>
          <div class="col-md-2 text-center offset-10">
            <b
              >R$
              {{ produto.precoUnitario * produto.qntItem | number: "1.2-2" }}</b
            >
          </div>
        </div>
        <div class="col-1">
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="onProdutoRemoved(produto)"
          >
            <span aria-hidden="true">x</span>
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>

  <div *ngIf="pedido.produtos.length == 0" style="margin-top: 3em">
    <img
      class="rounded mx-auto d-block"
      width="150px"
      height="150px"
      src="/assets/imagem-carrinho-empty-state.png"
    />
    <br />
    <p class="text-center">Nenhum produto foi inserido</p>
  </div>
</div>
<div p-3 bg-white rounded shadow-sm>
  <div class="card shadow-lg">
    <div class="card-body row">
      <h4>
        <img
          src="../../assets/icone-total.png"
          alt=""
          [style.width.PX]="20"
          [style.height.PX]="20"
        />
        Total
      </h4>
      <div class="col-md-6">
        <label class="col-md-6 text-left">Itens </label>
        <label class="col-md-6 text-right"
          >R$ {{ getTotalProdutos() | number: "1.2-2" }}</label
        >
        <label class="col-md-6 text-left">Frete </label>
        <label class="col-md-6 text-right"
          >R$ {{ pedido.frete | number: "1.2-2" }}</label
        >
        <hr class="hr" />
        <label class="col-md-6 text-left">Total</label>
        <label class="col-md-6 text-right"
          >R$ {{ getTotalPedido() | number: "1.2-2" }}</label
        >
      </div>
      <div class="col-md-6">
        <button
          (click)="onFinalizarPedido()"
          type="button"
          class="btn btn-success col-md-10"
        >
          Finalizar Pedido
        </button>
        <button
          (click)="onLimparCarrinho()"
          type="button"
          class="btn btn-danger col-md-10"
          style="margin-top: 1em"
        >
          Limpar carrinho
        </button>
      </div>
    </div>
  </div>
</div>
